# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Outputs
output/
output_*/
*.log
nohup.out


# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Hydra outputs
outputs/

SuSuInterActs/
checkpoints/
